# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.env.local
.venv
venv/
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Logs
*.log

# Render specific
.render-builddir.json

# Database
*.db
*.sqlite3

# Logs
*.log
