# Core API
fastapi==0.88.0  # Última versión que usa pydantic v1
uvicorn[standard]==0.20.0

# Database
sqlalchemy==2.0.19
pymongo==4.4.1

# Environment and settings
python-dotenv==0.21.1
pydantic==1.10.12

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Utilities
python-multipart==0.0.6
requests==2.31.0
requests-oauthlib==2.0.0
email-validator==2.0.0
dnspython==2.4.1
